@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*,
::before,
::after {
  @apply border-neutral-700;
}

:root {
  --side-nav-width: 200px;
}

body {
  background-color: #0d0d0d;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-snap-stop: always;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.upnext-songs::-webkit-scrollbar {
  width: 2px;
  background: transparent;
  height: 0px;
}
.upnext-songs::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  /* padding: 0 1rem; */
  max-width: 1800px;
}
.inner-container {
  width: calc(100% - var(--side-nav-width));
  margin: 2rem 0 2rem auto;
  padding: 0 1rem;
  max-width: 1200px;
}

@media (min-width: 1441px) {
  .inner-container {
    margin: 2rem auto;
  }
}
@media (max-width: 768px) {
  .inner-container {
    width: 100%;
    margin: 2rem auto;
  }
}
